/* --------------------------------

o9con Web Font
Version: 1.0
Author: Atul Meshram

-------------------------------- */
@font-face {
  font-family: "o9con";
  src: url("../fonts/o9con.eot");
  src: url("../fonts/o9con.eot") format("embedded-opentype"), url("../fonts/o9con.woff2") format("woff2"), url("../fonts/o9con.woff") format("woff"), url("../fonts/o9con.ttf") format("truetype"), url("../fonts/o9con.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.o9con {
  display: inline-block;
  font: normal normal normal 1em/1 "o9con";
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*------------------------
  change icon size
-------------------------*/
/* relative units */
.o9con-sz-xs {
  font-size: 0.75em;
}

.o9con-sz-sm {
  font-size: 0.875em;
}

.o9con-sz-lg {
  font-size: 1.33em;
}

.o9con-sz-2x {
  font-size: 2em;
}

.o9con-sz-3x {
  font-size: 3em;
}

.o9con-sz-4x {
  font-size: 4em;
}

.o9con-sz-5x {
  font-size: 5em;
}

.o9con-sz-6x {
  font-size: 6em;
}

.o9con-sz-7x {
  font-size: 7em;
}

.o9con-sz-8x {
  font-size: 8em;
}

.o9con-sz-9x {
  font-size: 9em;
}

.o9con-sz-10x {
  font-size: 10em;
}

/* absolute units */
.o9con-16 {
  font-size: 16px;
}

.o9con-20 {
  font-size: 20px;
}

.o9con-24 {
  font-size: 24px;
}

.o9con-32 {
  font-size: 32px;
}

.o9con-40 {
  font-size: 40px;
}

.o9con-48 {
  font-size: 48px;
}

/*----------------------------------
  add a square/circle background
-----------------------------------*/
.o9con-bg-color {
  background-color: #333;
}

.o9con-text-color {
  color: #fff;
}

.o9con-bg-sqr, .o9con-bg-sqr-smooth,
.o9con-bg-cir {
  padding: 0.33em;
}

.o9con-bg-sqr {
  border-radius: 0;
}

.o9con-bg-sqr-smooth {
  border-radius: 0.25em;
}

.o9con-bg-cir {
  border-radius: 50%;
}

.o9con-bg-border {
  border: solid 1.5px #333;
}

/*------------------------------------
  use icons as list item markers
-------------------------------------*/
.o9con-ul {
  padding-left: 0;
  list-style-type: none;
}
.o9con-ul > li {
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
}
.o9con-ul > li > .o9con {
  margin-right: 0.4em;
  line-height: inherit;
}

/*------------------------
  animated icons
-------------------------*/
.o9con-anim-spin {
  -webkit-animation: o9con-spin 2s infinite linear;
  -moz-animation: o9con-spin 2s infinite linear;
  animation: o9con-spin 2s infinite linear;
}

@-webkit-keyframes o9con-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes o9con-spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes o9con-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.o9con-anim-pulse {
  -webkit-animation: o9con-pulse 1s ease infinite;
  -moz-animation: o9con-pulse 1s ease infinite;
  animation: o9con-pulse 1s ease infinite;
}

@-webkit-keyframes o9con-pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes o9con-pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.3);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes o9con-pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
/*------------------------
  rotated/flipped icons
-------------------------*/
.o9con-rotate-45 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.o9con-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.o9con-rotate-135 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.o9con-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.o9con-rotate-225 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

.o9con-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

.o9con-rotate-315 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

.o9con-flip-x {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.o9con-flip-y {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/*------------------------
	icons
-------------------------*/
.o9con-add::before {
  content: "\ea02";
}

.o9con-arrow-up::before {
  content: "\ea03";
}

.o9con-checkmark::before {
  content: "\ea04";
}

.o9con-arrow-right::before {
  content: "\ea05";
}

.o9con-arrow-down::before {
  content: "\ea06";
}

.o9con-full-screen::before {
  content: "\ea07";
}

.o9con-close::before {
  content: "\ea08";
}

.o9con-config-alt::before {
  content: "\ea09";
}

.o9con-logical-group::before {
  content: "\ea0a";
}

.o9con-menu::before {
  content: "\ea0b";
}

.o9con-minus::before {
  content: "\ea0c";
}

.o9con-omni-direction-alt::before {
  content: "\ea0d";
}

.o9con-arrow-left::before {
  content: "\ea0e";
}

.o9con-lead-time::before {
  content: "\ea0f";
}

.o9con-label::before {
  content: "\ea10";
}

.o9con-priority::before {
  content: "\ea11";
}

.o9con-search::before {
  content: "\ea12";
}

.o9con-loader::before {
  content: "\ea13";
}

/*# sourceMappingURL=o9con.css.map */
